@font-face {
  font-family: "JosefinSans-Bold";
  src: url(ress/font/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: "JosefinSans";
  src: url(ress/font/JosefinSans-Medium.ttf);
}
/*-----------------------------------------------------------------------------
                                Soft-reset
-----------------------------------------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "JosefinSans", sans-serif;
}

/*-----------------------------------------------------------------------------
                                Placeholder
-----------------------------------------------------------------------------*/
.social-links-section, .index-section {
  box-shadow: 3px 3px 5px #3F3351, -1px -1px 5px #3F3351;
  border-radius: 10px;
}

.social-links-section .social-links__aside img, .index-section img {
  background: #F1D00A;
  border-radius: 50%;
  box-shadow: 3px 3px 5px #1F1D36, 0px 0px 5px #1F1D36;
  object-fit: contain;
}

.img-14::after, .img-13::after, .img-12::after, .img-11::after, .img-10::after, .img-9::after, .img-8::after, .img-7::after, .img-6::after, .img-5::after, .img-4::after, .img-3::after, .img-2::after, .img-1::after {
  white-space: pre;
  position: relative;
  display: block;
  width: 202px;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  line-height: 24px;
  top: -50px;
  left: -12px;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------
                                Header
-----------------------------------------------------------------------------*/
header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 100px;
  padding: 0 3%;
  background-color: #1F1D36;
  border-bottom: 5px solid #864879;
}
header .logo {
  display: flex;
  align-items: center;
  flex-basis: 35%;
}
header .logo h1 span {
  /*color: #FFE162;*/
  color: #F1D00A;
}
header .logo h1 a {
  position: relative;
  display: block;
  font-family: "JosefinSans-Bold", sans-serif;
  font-size: 1.25rem;
  color: white;
  text-shadow: 3px 3px 3px #864879;
  text-decoration: none;
}

nav {
  width: 100%;
  font-size: 25px;
}
nav ul {
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-evenly;
}
nav li {
  list-style: none;
}
nav li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 3px #864879;
}
nav li a::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 3px;
  box-shadow: 0 3px 5px #864879;
  background: white;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}
nav li:hover a::after {
  transform: scale(1);
}

body {
  background: #9D9D9D;
}

/*-----------------------------------------------------------------------------
                                Index.html
-----------------------------------------------------------------------------*/
.index-section {
  display: flex;
  width: 80%;
  margin: 20px auto;
  background-image: url(ress/img/texture.png);
}
.index-section img {
  width: 200px;
  height: 200px;
  margin: 40px 20px;
}
.index-section .img-yu {
  display: flex;
  align-self: end;
}
.index-section .dialogue:first-child {
  margin: 50px 25px 10px 15px;
}
.index-section .dialogue {
  position: relative;
  padding: 25px 15px;
  background: #C1DEAE;
  border-radius: 10px;
  margin: 10px 25px 10px 15px;
}
.index-section .dialogue.yu {
  background: #F1D00A;
}
.index-section .dialogue::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-50%, -50%);
  border-right: 20px solid #C1DEAE;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.index-section .dialogue:last-child {
  margin: 10px 25px 50px 15px;
}
.index-section .dialogue:last-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 101%;
  transform: translate(-50%, -50%);
  border-left: 20px solid #F1D00A;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: none;
}
.index-section a {
  text-decoration: underline 2px #864879;
  font-weight: bold;
  font-style: normal;
  color: black;
}

/*-----------------------------------------------------------------------------
                        Social_links.html
-----------------------------------------------------------------------------*/
.social-links-section {
  display: flex;
  margin: 20px 50px;
  max-height: 1050px;
  background-image: url(ress/img/texture.png);
}
.social-links-section .social-links__aside {
  width: 300px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  border-radius: 10px 0 0 10px;
  overflow-y: scroll;
  /*-----------------------------------------------------------------------------
                            Custom scrollbar for Firefox.
    -----------------------------------------------------------------------------*/
  scrollbar-color: #864879 #3F3351;
  scrollbar-width: thin;
  /*-----------------------------------------------------------------------------
                          Custom scrollbar for Chrome, Opera, Safari.
  -----------------------------------------------------------------------------*/
}
.social-links-section .social-links__aside::-webkit-scrollbar {
  width: 8px;
}
.social-links-section .social-links__aside::-webkit-scrollbar-track {
  background: #3F3351;
}
.social-links-section .social-links__aside::-webkit-scrollbar-thumb {
  background: #864879;
}
.social-links-section .social-links__aside::-webkit-scrollbar-thumb:hover {
  background: #a15691;
}
.social-links-section .social-links__aside::-webkit-scrollbar-thumb:active {
  background: #b87cac;
}
.social-links-section .social-links__aside img {
  width: 175px;
  height: 175px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.social-links-section .social-links__aside img:hover {
  transform: scale(1.1);
}
.social-links-section .social-links__aside img:active {
  transform: scale(1.1);
  transform: translate(-3px, -3px);
}

/*-----------------------------------------------------------------------------
                Pseudo-class::after for text below the img
-----------------------------------------------------------------------------*/
.img-1::after {
  content: "Team d'investigation \a Arcana: Fool";
}
.img-2::after {
  content: "Yosuke Hanamura \a Arcana: Magician";
}
.img-3::after {
  content: "Chie Satonaka \a Arcana: Chariot";
}
.img-4::after {
  content: "Yukiko Amagi \a Arcane: Priestess";
}
.img-5::after {
  content: "Kanji Tatsumi \a Arcana: Emperor";
}
.img-6::after {
  content: "Teddie \a Arcana: Star";
}
.img-7::after {
  content: "Rise Kujikawa \a Arcana: Lovers";
}
.img-8::after {
  content: "Naoto Shirogane \a Arcana: Fortune";
}
.img-9::after {
  content: "Club de Sport \a Arcana: Strength";
}
.img-10::after {
  content: "Club Culturel \a Arcana: Sun";
}
.img-11::after {
  content: "Naoki Konishi \a Arcana: Hanged Man";
}
.img-12::after {
  content: "Ai Ebihara \a Arcana: Moon";
}
.img-13::after {
  content: "Nanako Dojima \a Arcana: Justice";
}
.img-14::after {
  content: "Ryotarou Dojima \a Arcana: Hierophant";
}

/*-----------------------------------------------------------------------------
                                Footer
-----------------------------------------------------------------------------*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  padding: 0 3%;
  background-color: #1F1D36;
  border-top: 5px solid #864879;
}
footer h2 {
  font-family: "JosefinSans-Bold", sans-serif;
  font-size: 1.25rem;
  color: white;
  text-shadow: 3px 3px 3px #864879;
}

/*# sourceMappingURL=style.css.map */
